.valoraciones {
  display: flex;
  align-items: center;
  text-justify: space-around;
}

.retrato {
  border-radius: 50%;
  max-width: 40%;
  max-height: 20%;
}

.redes {
  width: 40px;
  height: 40px;
}

html {
  box-sizing: border-box;
}

body {
  background-color: rgb(191, 233, 247);
}

h1 {
  text-align: center;
  margin-top: 1em;
}

.btn-group {
  flex-wrap: nowrap;
  padding: 1ex;
  margin-right: 1%;
}

.imagen2 {
  max-width: 75%;
  max-height: 50%;
}

.imagen3 {
  max-width: 30%;
  max-height: 20%;
}

.cartas {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.card {
  align-self: center;
  align-items: center;
  justify-items: center;
  justify-self: center;
}

.d-block {
  justify-content: center;
  width: 80%;
  height: 20em;
}

.d-link {
  margin: 1%;
  width: 80%;
  height: 20em;
}

.slide {
  margin: auto;
  max-width: 70rem;
  width: 80%;
  height: 10%;
}

.reproductor {
  display: flex;
  border: 2px solid blue;
  background-color: aqua;
  border-radius: 20%;
  max-width: 30%;
  min-width: 380px;
  margin: auto;
  padding: 10px;
  margin-bottom: 1%;
  justify-content: center;
}

.reproductor-button {
  border-radius: 40%;
  max-width: 150px;
  padding: auto;
  margin: 5px;
}

.reproductor-img {
  width: 1rem;
  height: 1rem;
}

.carousel-control :hover {
  background-color: #878787;
}
.carousel-control :hover .carousel-control-next {
  background-color: #878787;
}
.carousel-control :hover .carousel-control-prev {
  background-color: #878787;
}

.carousel-control-prev {
  margin-top: 10%;
  margin-left: 1%;
  height: 25%;
  width: 8%;
  border-radius: 50%;
  background-color: #bababa;
  opacity: 0.8;
}

.carousel-control-next {
  margin-top: 10%;
  margin-right: 1%;
  height: 25%;
  width: 8%;
  border-radius: 50%;
  background-color: #bababa;
  opacity: 0.8;
}

.transc {
  display: flex;
  border-radius: 20%;
  max-width: 30%;
  min-width: 380px;
  margin: auto;
  padding: 10px;
  margin-bottom: 1%;
  justify-content: center;
}

#trans_audio {
  margin-bottom: 1%;
  border-radius: 40%;
  max-width: 250px;
  padding: 5px;
}

.btn-check {
  color: black;
}

.inicioCabecera {
  display: flex;
  background-color: aqua;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

nav {
  display: flex;
  align-content: flex-start;
  background-color: aquamarine;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#cabecera {
  margin: 1%;
  border: 2px solid;
  border-radius: 20px;
}

.dropdown-menu {
  background-color: lightblue;
}

.buscador {
  margin-left: 1ex;
  margin-right: 1%;
}

#offcanvasNavbar2Label {
  background-color: lightblue;
  padding: 1ex;
  border: solid;
  border-radius: 25%;
}

.offcanvas-start {
  background-color: aquamarine;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

.login {
  height: 64px;
  width: 64px;
  padding: 5px;
  border-radius: 100%;
}

.boton {
  background-color: #12633C;
}

.dropdown-toggle-split {
  background-color: #12633C;
}/*# sourceMappingURL=sass.css.map */